* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkseagreen;
}

.data {
    height: 200px;
}

.data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.data div {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(169, 169, 169);
    border-radius: 5px;
    text-align: center;
}

#search {
    height: 3em;
    width: 20%;
    padding: 1em;
}

.data img {
    width: 100%;
    height: 200px;
    padding: 1rem;
    filter: saturate(0.1);
}

input {
    padding: 1rem;
    font-family: inherit;
    margin: 2rem auto;
}