* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: darkseagreen;
}

.container {
    width: 95%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
}

.data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.data div {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(169, 169, 169);
    border-radius: 5px;
    text-align: center;
}

.data div:hover {
    box-shadow: 0 0 10px rgb(99, 99, 99);
}

.data div:hover img {
    filter: saturate(1);
}

.data div:hover h2 {
    background-color: #3b4cca;
    color: white;
}

#search {
    height: 3em;
    width: 20%;
    padding: 1em;
}

.data img {
    width: 100%;
    height: 200px;
    padding: 1rem;
    filter: saturate(0.1);
}

input {
    padding: 2rem;
    font-family: inherit;
    margin: 2rem auto;
}

button {
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
}